:root {
  --border-radius-8: 8px;

  --extra-light-blue: #eeeef8;
  --light-blue: #b7b9f0;
  --blue: #111ce6;
  --blue-focus-visible: #646cff;

  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}
a:focus-visible {
  color: var(--blue-focus-visible);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius-8);
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #1a1a1a;
  outline: 1px solid var(--light-blue);
  cursor: pointer;
  transition: outline 125ms, transform 125ms;
}

button:focus-visible {
  outline: 2px solid var(--blue-focus-visible);
}

button:not(:disabled):active {
  transform: scale(0.96);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:focus-visible {
    color: var(--blue-focus-visible);
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  display: contents;
}

.app {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 8px 12px;
}

.app__title {
  text-align: center;
  margin: 0 0 12px;
}

.todo-form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0 12px;
  margin: 0 auto 12px;
}

.todo-form__input {
  font-size: 1rem;
  padding: 0.2em 0.6em;
  border: none;
  border-radius: var(--border-radius-8);
  outline: 1px solid var(--light-blue);
  transition: outline 125ms;
}

.todo-form__input:focus-visible {
  outline: 2px solid var(--blue-focus-visible);
}

.todo-list {
  display: grid;
  grid-auto-flow: row;
  margin: 0 auto 12px;
  padding: 0;
  list-style: none;
  gap: 6px;
}

.todo-element {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: var(--border-radius-8);
  background-color: transparent;
  transition: background-color 125ms, transform 125ms;
}

.todo-element:has(.todo-element__label:active) {
  transform: scale(0.99);
}

.todo-element:has(.todo-element__label:hover),
.todo-element:has(.todo-element__checkbox:focus-visible) {
  background-color: #eeeef8;
}

.todo-element__label {
  display: flex;
  align-items: center;
  gap: 0 4px;
  padding: 4px 6px;
}

.todo-element__label:has(.todo-element__checkbox:checked) .todo-element__pseudo-checkbox {
  color: green;
  outline-width: 2px;
}
.todo-element__label:has(.todo-element__checkbox:checked) .todo-element__pseudo-checkbox::after {
  transform: scale(1);
}

.todo-element__label:has(.todo-element__checkbox:focus-visible:not(:checked)) .todo-element__pseudo-checkbox {
  color: var(--blue-focus-visible);
  outline-width: 2px;
}

.todo-element__label:has(.todo-element__checkbox:checked) .todo-element__title {
  text-decoration: line-through;
  opacity: 0.6;
}

.todo-element__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.todo-element__pseudo-checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  aspect-ratio: 1;
  color: var(--light-blue);
  border-radius: var(--border-radius-8);
  outline: 1px solid currentColor;
  transition: outline 125ms;
}

.todo-element__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 23%;
  width: 10px;
  height: 10px;
  border-radius: inherit;
  background-color: currentColor;
  transform: scale(0);
}

.todo-element__title {
  font-size: 1.1em;
  line-height: 1.25em;
}

.todo-element__remove-button {
  display: inline-flex;
  aspect-ratio: 1;
  padding: 2px;
}

.placeholder-text {
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}


